<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>canvas测试</title>

</head>
<body>
<%if(true){%>
<div id="area">

</div>
<%}%>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    function preImage(url,callback){
        var img = new Image(); //创建一个Image对象，实现图片的预下载
        img.src = url;

        if (img.complete) { // 如果图片已经存在于浏览器缓存，直接调用回调函数
            callback.call(img);
            return; // 直接返回，不用再处理onload事件
        }

        img.onload = function () { //图片下载完毕时异步调用callback函数。
            callback.call(img);//将回调函数的this替换为Image对象
        };
    }
    var getPixelRatio = function (context) {
        var backingStore = context.backingStorePixelRatio ||
            context.webkitBackingStorePixelRatio ||
            context.mozBackingStorePixelRatio ||
            context.msBackingStorePixelRatio ||
            context.oBackingStorePixelRatio ||
            context.backingStorePixelRatio || 1;
        return (window.devicePixelRatio || 1) / backingStore;
    };
    function init(){
        var canvasbox=document.getElementById('area');
        var canvas=document.createElement('canvas');
        var w=$(window).width();
        var h=$(window).height();
        canvas.width=w;
        canvas.height=h;
        canvas.id='canvas';
        canvas.style={
            "display":"block",
            "overflow":"hidden"
        };
        canvasbox.appendChild(canvas);
        draw();
    }
    function draw(){
        var cvs=document.getElementById('canvas');
        var ctx=cvs.getContext('2d');
        var ratio=getPixelRatio(ctx);
        preImage('/apps/dist/img/ResReader.png',function(){
            ctx.drawImage(this, 0, 0, this.width, this.height);
        })
//        var img=new Image();
//        img.src='/apps/dist/img/ResReader.png';
//        img.onload=function(){
//            ctx.drawImage(img,0,0,img.width*ratio,img.height*ratio);
//        }
        var pos_arr = [];
        cvs.addEventListener("touchmove", function (e) {
            e.preventDefault();
            e.stopPropagation();
            var touch = e.targetTouches[0];
            pos_arr.unshift(touch);
            pos_arr.length = 2;
            if (pos_arr[1]) {
                var item_x = (pos_arr[0].clientX - pos_arr[1].clientX) / 100;
                var item_y = (pos_arr[0].clientY - pos_arr[1].clientY) / 100;
                for (var i = 0; i < 100; i++) {
                    ctx.beginPath();
                    ctx.arc(touch.clientX - item_x * i, touch.clientY - item_y * i, 1, 0, 2 * Math.PI);
                    ctx.fillStyle = 'red';
                    ctx.fill();
                }
            }
            ctx.beginPath();
            ctx.arc(touch.clientX, touch.clientY, 1, 0, 2 * Math.PI);
            ctx.fillStyle = 'red';
            ctx.fill();
        });
        cvs.addEventListener("touchstart", function (e) {
            e.stopPropagation();
            pos_arr = [];
        });
        cvs.addEventListener("touchend", function (e) {
            e.stopPropagation();
            pos_arr = [];
        });
    }
    init();

</script>

</body>
</html>